table{
	border-collapse: collapse;
	width: 50%;
	margin: auto;
	margin-top: 50px;
	background: white;
	box-shadow: 5px 5px 5px black;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 2px solid black;
}
#col2{
	width:30%;
}
#col1, #col3{
	width: 50%;
}
td:first-child {
	text-align: left;
}
div{
	background-color:  rgb(230, 230, 230);
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
	padding: 20px;
	box-shadow: 10px 5px 5px gray;
	width: 85%;
	margin-top: 70px;
	margin-left: 70px;
}